body {
    overflow-x: hidden;
}
h1 {
    font-size: 43px;
}
h2 {
    font-size: 30px;
}
.full-page {
    height: 92vh;
}
.landing-page div {
    text-align: center;
}
.landing-page .row {
    padding-top: 10vh;
}
#order {
    height: 80vh;
}
.flavors .col-xs-8,
.flavors .col-xs-4 {
    padding-bottom: 10px;
}
.flavors select {
    display: none;
}
#order .submit-buttons {
    margin-top: 20px;
    text-align: center;
}
/*Mobile Order CSS*/
.modal-body {
    background: url('/img/background.jpg') no-repeat center center fixed;
}
.flavor-img {
    width: 100%
}
.flavor-img td {
    width: 50%;
    height: 143px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #979797;
    text-align: center;
}
.flavor-img img {
    width: 116px;
    height: 123px;
}
.quantity {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 20%;
    background-color: rgba(78, 78, 78, .7)
}
.quantity p {
    font-size: 18px;
}
.quantity .input-group {
    width: 75%;
    margin: 0 auto;
}
.quantity input {
    text-align: center;
}
.about {
    text-align: center;
    margin-bottom:50px;
}
.about-text p {
    font-size: 18px;
}
.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.contact {
    text-align: center;
}
.contact .social {
    padding: 50px 0 25px;
}
.contact .social div {
    padding-bottom: 20px;
}
.contact img {
    transform: scale(0.75);
    transform-origin: 35%;
}
.contact form legend {
    padding-bottom: 10px;
}
.contact form .form-group {
    margin: 0 auto 15px;
}
.complete {
    text-align: center;
}
.complete form {
    padding-top: 20px;
}
.email legend {
    padding-bottom: 10px;
}
.social {
    text-align: center;
}
.referral {
    display: none !important;
}
.juicer {
    display: none !important;
}
.j-stacker-wrapper {
    margin-top: 25px;
}
@media(min-width: 600px) {
    h1 {
        font-size: 85px;
    }
    h2 {
        font-size: 50px;
    }
    .contact img {
        transform: scale(1);
    }
}
@media (max-width: 599px) and (min-width: 440px) {
    h1 {
        font-size: 60px;
    }
}
#order-now-cta{
    margin-top:50px;
}