body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 43px;
}
h2 {
    font-size: 30px;
}
.landing-page {
    margin-bottom: 80px;
}
.landing-page div {
    text-align: center;
}
.landing-page .row {
    padding-top: 10vh;
}
.landing-page h3 {
    margin: 10px 0 0;
}
#order {
    height: 80vh;
}
.flavors .col-xs-8,
.flavors .col-xs-4 {
    padding-bottom: 10px;
}
.flavors select {
    display: none;
}
#order .submit-button {
    margin-top: 20px;
    text-align: center;
}
.about {
    text-align: center;
}
.about .team h2 {
    padding-bottom: 20px
}
.about .solo {
    width: auto;
    height: 300px;
}
.about p {
    margin-bottom: 0;
}
.about .name {
    font-size: 30px;
}
.contact {
    text-align: center;
}
.contact .social {
    padding: 50px 0 25px;
}
.contact .social div {
    padding-bottom: 20px;
}
.contact img {
    transform: scale(0.75);
    transform-origin: 35%;
}
.contact form legend {
    padding-bottom: 10px;
}
.contact form .form-group {
    margin: 0 auto 15px;
}
.complete {
    text-align: center;
}
.complete form {
    padding-top: 20px;
}
.email legend {
    padding-bottom: 10px;
}
.packages {
    margin-bottom: 20px;
}
.packages h1 {
    text-align: center;
}
.packages h2 {
    text-align: center;
}
.packages h3 {
    text-align: center;
}
.packages p {
    font-size: 22px
}
.packages button {
    width: 100%
}
.how h3 {
    font-size: 35px;
}
.how hr {
    border-color: black;
    border-width: 2px;
    margin-top: 0;
}
.party {
    text-align: center;
}
.party p {
    font-size: 22px
}
.party form {
    text-align: left;
}
.party .submit-button {
    text-align: center;
}
.party textarea {
    width: 100%;
    height: 90px;
    resize: none;
    
}
@media(max-width: 768px) {
    .submit-button {
        margin-top: 20px;
    }
}
@media(min-width: 600px) {
    h1 {
        font-size: 85px;
    }
    h2 {
        font-size: 50px;
    }
    .contact img {
        transform: scale(1);
    }
}
@media (max-width: 599px) and (min-width: 440px) {
    h1 {
        font-size: 60px;
    }
}