#top-material {
    position: scroll;
}
#background-image {
    opacity: .3;
    width: 150vw;
    height: 110vh;
}
#navbar {
    z-index: 10000;
    height: 4em;
    position: absolute;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: auto;
    background-color: rgba(43, 43, 43, 0.2);
    width: 100%;
}
#navbar li {
    float: left;
    width: 25%;
    height: auto;
    width: auto;
    padding: 20px 20px;
    text-align: center;
}
#navbar a {
    display: inline-block;
    color: white;
    height: auto;
    text-decoration: none;
    font-size: 3vw;
}
body {
    background-color: #2B2B2B;
    color: #FFFFFF;
    font-family: amatic-sc, sans-serif;
    overflow-x: hidden;
}
h1 {
    color: #AAEEFF;
    text-align: center;
    font-size: 100px;
}
#icecreambro {
    text-align: center;
    width: 100%;
    font-size: 15vmax;
    position: absolute;
    top: -5vh;
}
#first,
#second {
    color: mintcream;
    text-align: center;
    width: 100%;
    font-size: 5vmax;
    position: absolute;
}
#first {
    top: 45vh;
}
#second {
    top: 55vh;
}
#arrow {
    position: absolute;
    top: 80vh;
    height: 2cm;
    left: 50%;
    transform: translateX(-50%);
}
#homepage,
#order,
#how_it_works,
#about_us,
#contact_us {
    padding-top: 25px;
    height: 100vh;
}
#order {
    height: auto;
}
#form {
    text-align: center
}
#white_background {
    background-color: mintcream;
}
#how_it_works {
    color: #2B2B2B;
    text-align: center;
    font-size: 35px;
}
#how_it_works,
#about_us {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#about_us {
    text-align: center;
    font-size: 30px;
}
a {
    color: white;
    text-decoration: none;
}
#personal_snap {
    text-align: center;
}
#jake_snap {
    width: 30%;
}
#reid_snap {
    width: 30%;
}
#social {
    position: relative;
    width: 100%;
    text-align: center;
}
.social_img {
    height: 4em;
    width: 4em;
    display: inline-block;
    padding: 2px;
    align-content: center;
}
